In [26]:
"""
This program takes an iput route file with the following data:
route_no, stop_seq, bus_stop_cd, bus_stop_nm, km, latitude, longitude
and converts it into multiple csv files, one for each route
"""


import pandas as pd

In [27]:
#please specify input file here
input_file = '~/Documents/Miland_Sohni_transportation/Data/New_Shahpur_data/ETIM data/29nov/sample_Error_free_route_data.csv'

#output location
output_loc = "~/Documents/Miland_Sohni_transportation/Data/New_Shahpur_data/ETIM data/29nov/route_"

In [28]:
"""
read the route data containing all the route details, i.e.:
route_no, stop_seq, bus_stop_cd, bus_stop_nm, km, latitude, longitude
"""
read_data = pd.read_csv(input_file, delimiter = ',')

In [29]:
read_data.iloc[[2]]

   route_no  stop_seq bus_stop_cd bus_stop_nm    km   latitude  longitude
2       143         3       PDGHA      PADGHA  20.2  19.367603  73.180971

In [30]:
#sample output file
sample_output_file = output_loc + str(read_data.iloc[0,0]) + ".csv"

print(sample_output_file)

~/Documents/Miland_Sohni_transportation/Data/New_Shahpur_data/ETIM data/29nov/route_143.csv

In [31]:

#sample writing dataframe to output_file 
output_df.to_csv(output_file, encoding='utf-8', index=False)

In [25]:
for i in read_data.index:
    
    #add the first stop to the data
    if (read_data.iloc[i,1] == 1):
        
        #To cover the first case, i.e. i is 0 and there is nodata before it to save in a file
        if (i > 0):            
            output_df.to_csv(output_file, encoding='utf-8', index=False)
            print ("Data written to ", output_file)
            
        output_file = output_loc + str(read_data.iloc[i,0]) + ".csv"
        output_df = pd.DataFrame()
    
    output_df = output_df.append(read_data.iloc[[i]])
    
#For the last file:
output_df.to_csv(output_file, encoding='utf-8', index=False)
print ("Data written to ", output_file)

Data written to  ~/Documents/Miland_Sohni_transportation/Data/New_Shahpur_data/ETIM data/29nov/route_143.csv
Data written to  ~/Documents/Miland_Sohni_transportation/Data/New_Shahpur_data/ETIM data/29nov/route_203.csv
Data written to  ~/Documents/Miland_Sohni_transportation/Data/New_Shahpur_data/ETIM data/29nov/route_204.csv